@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div dir="rtl">
        @Html.ActionLink("اضافة نصوص الى الصورة", "AddTextToImage", "Home", null, new { @class = "btn btn-success btn-xs btn-block" })
        @*@Html.ActionLink("انشاء تقرير جدول سريع", "ExportTableToPDF", "Home", null, new { @class = "btn btn-info btn-xs btn-block" })
        @Html.ActionLink("انشاء تقرير واضافة ملفات pdf جاهز", "BuildReportAndAddExistPDF", "Home", null, new { @class = "btn btn-primary btn-xs btn-block" })
        @Html.ActionLink("اضافة تقرير الى ملف موجود مسبقاً", "BuildReportUsingExistPDF", "Home", null, new { @class = "btn btn-secondary btn-xs btn-block" })
        @Html.ActionLink("توثيق التقرير باضافة QRCode", "BuildReportWithQRCode", "Home", null, new { @class = "btn btn-warning btn-xs btn-block" })
        @Html.ActionLink("اضافة ترويسة ال Header بشكل تلقائي بجميع الصفحات  التقرير", "BuildReportWithReapeaterHeader", "Home", null, new { @class = "btn btn-danger btn-xs btn-block" })
        @Html.ActionLink("تعبئة نموذج جاهز بالبيانات", "FillFormPDF", "Home", null, new { @class = "btn btn-info btn-xs btn-block" })*@
    </div>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

</div>
